body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f9f9f9;

  
  
}
header {

  background-color:   #a9a9a9;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav{
  display: grid;
  grid-template-columns: repeat(3,auto)  1fr auto;

  gap: 50px;
  background-color: #f9f9f9;
 
  align-items: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.7);
  

}

nav >:nth-child(1) {
  margin-left: 10px;
} 
nav >:nth-child(4) {
  justify-self: end;
} 

nav a{
  display: inline-block;
  color: #000000fe;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  

}
nav a:hover {
  cursor: pointer;
  transform: rotate(1.3deg)  scale(1.1, 1.2);
  color:green;
}
h1 {
  color: #2c3e50;
  margin-bottom: 1rem;
  font-size: 2rem;
  margin:2px 15px;
  font-weight: bolder;
}

h2 {
  color: #2c3e50;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin:2px 15px;
}
section{
    padding-left: 15px;
    font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
.skills li::before {
  content: "✅ ";

}


footer {
  background-color:   #a9a9a9;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
